<div class="container w-50 mt-5 border">
  <h1><%= @user.name %></h1>

  <div class="container">
    <h3>Created events</h3>
    <p>
      <ul>
        <% @user.created_events.each do |event| %>
          <li><%= link_to event.name, event %></li>
        <% end %>
      </ul>
    </p>
  </div>

  <div class="container">
    <h3>Events to attend</h3>
  <p>
    <div class="container">
      <h4>Upcoming Events</h4>
      <ul>
        <% @user.attended_events.each do |event| %>
          <% if event.date > Time.now %>
            <li><%= link_to event.name, event %></li>
          <% end %>
        <% end %>
      </ul> 
    </div>
    <div class="container">
      <h4>Previous Events</h4>
      <ul>
        <% @user.attended_events.each do |event| %>
          <% if event.date < Time.now %>
            <li><%= link_to event.name, event %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    </p>
  </div>
  
</div>
