<div class='container'>
  <h3>Attend this event</h3>
  <%= form_for(:attendance, url: attendances_path) do |f| %>
    <%= f.hidden_field :name, value: current_user.name %>
    <%= f.hidden_field :id, value: @event.id %>
    <%= f.submit 'Attend', class:'btn btn-info' %>
  <% end %>
</div>