<div class="container mt-5 border p-3">
  <h1>Events</h1>
  <div class="container">
    <h2>Upcoming events</h2>
    <div class="container">
      <%= events_upcoming(@upcoming_events) %>
    </div>
  </div>
  <div class="container">
    <h2>Past events</h2>
    <div class="container">
      <%= events_past(@past_events) %>
    </div>
  </div>
</div>


